

.btn {
   &::after {
       display: inline-block;
       content: "";
       height: 100%;
       width: 100%;
       border-radius: 20rem;
       background-color: $color-white;
       position: absolute; 
       top: 0;
       left: 0; 
       z-index: -1; 
       transition: all .4s;
   }

   &,
   &:link,
   &:visited {
     text-transform: uppercase;
     text-decoration:  none;
     padding: 1.5rem 4rem;
     display: inline-block;
     border-radius: 20rem;
     transition: all .2s; 
     position: relative;

     cursor: pointer; 
     border: none; 
   }

    &:hover {
       transform: translateY(-.3rem);
       box-shadow: 0 1rem 2rem rgba($color-black, .2);
       &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
       }
    }

    &:focus,
    &:active {
        outline: none; 
        transform: translateY(.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &--white {
         background-color: #fff;
         color: $color-grey-dark;
         &::after {
            background-color: #fff;
         }
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

}

.btn-text:link,
.btn-text:visited {

    color: $color-primary;
    text-decoration: none;
    display: inline-block;
    border-bottom: .1rem  solid  $color-primary; 
    padding: .3rem;
    transition: all .4s; 

    &:hover {
      background-color: $color-primary;
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black, .2);
      transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
        transform: translateY(0);
    }

}